OCP_URL=...
OCP_USERNAME=...
OCP_PASSWORD=...
OCPKUBECONFIG=...
spnClientId=...
spnClientSecret=...
spnTenantId=...
subscriptionId=...
TFSTATE_STORAGE_ACCOUNT_NAME=...
TFSTATE_STORAGE_ACCOUNT_CONTAINER_NAME=...
TFSTATE_STORAGE_ACCOUNT_KEY=...